body{
    background:black;
    margin:0;
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
    min-width:1500px;
    color:white;
}

/*video*/
#video-fondo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
    filter:brightness(0.18);
}

/*header*/
header{
    width:100%;
    height:85px;
    border-bottom:1px solid rgba(157,255,0,0.25);
    background:rgba(0,0,0,0.65);
    backdrop-filter:blur(3px);
    position:relative;
}

.logo_superior_header{
    width:290px;
    position:absolute;
    top:16px;
    left:35px;
}

header p{
    display:none;
}

.botones_header{
    display:flex;
    gap:55px;
    position:absolute;
    left:550px;
    top:32px;
}

.botones_header a{
    color:#d7d7d7;
    text-decoration:none;
    font-size:15px;
    font-weight:700;
    text-transform:uppercase;
    transition:0.3s;
}

.botones_header a:hover{
    color:#9dff00;
}

.btn-busqueda{
    width:48px;
    height:48px;
    border-radius:50%;
    border:2px solid #9dff00;
    background:transparent;
    color:#9dff00;
    font-size:20px;
    cursor:pointer;
    position:absolute;
    right:35px;
    top:18px;
}

/*titulo*/
.sobre-nosotros{
    text-align:center;
    margin-top:55px;
}

.sobre-nosotros h1{
    color:#9dff00;
    font-size:62px;
    font-family:"Jersey 25", sans-serif;
    letter-spacing:4px;
    margin-bottom:40px;
    text-shadow:0 0 14px rgba(157,255,0,0.55);
}

/*imagen*/
.img-equipo{
    width:1020px;
    height:auto;
    border-radius:18px;
    border:1px solid rgba(157,255,0,0.30);
    box-shadow:0 0 25px rgba(157,255,0,0.15);
    margin-bottom:45px;
}

/*nombres*/
.integrantes{
    display:flex;
    justify-content:center;
    gap:130px;
    margin-top:10px;
    margin-bottom:-20px;
}

.persona{
    display:flex;
    align-items:center;
    gap:14px;
}

.persona i{
    color:#9dff00;
    font-size:28px;
}

.persona h3{
    color:#9dff00;
    font-size:42px;
    font-family:"Jersey 25", sans-serif;
    letter-spacing:2px;
}


/*descripcion*/
.descripcion{
    width:980px;
    margin:auto;
    color:#d8d8d8;
    font-size:25px;
    font-family:"Jersey 25", sans-serif;
    line-height:1.7;
    letter-spacing:0.5px;
    margin-bottom:0px;
}

/*linea*/
.linea{
    width:760px;
    height:1px;
    background:rgba(157,255,0,0.35);
    margin:50px auto;
}

/*por que arcadepedia*/
.titulo-seccion{
    color:#9dff00;
    text-align:center;
    font-size:42px;
    font-family:"Jersey 25", sans-serif;
    letter-spacing:2px;
    margin-bottom:35px;
    text-shadow:0 0 12px rgba(157,255,0,0.40);
}

.texto-arcadepedia{
    width:950px;
    margin:auto;
    color:#d5d5d5;
    font-size:24px;
    font-family:"Jersey 25", sans-serif;
    line-height:1.8;
    letter-spacing:0.5px;
    text-align:center;
}

/*frase final*/
.frase-final{
    text-align:center;
    color:#cfcfcf;
    font-size:22px;
    font-family:"Jersey 25", sans-serif;
    margin-top:80px;
    margin-bottom:70px;
}

/*footer*/
.footer{
    width:100%;
    color:#cfcfcf;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#1a1a1a;
    border-top:2px solid #36af1e;
    margin-top:120px;
    height:70px;
}

footer p{
  margin: 0;
}